/* Base styles */
body {
    font-family: 'Montserrat', sans-serif;
   
    background-color: #f6f1e9;
    color: #333;
    line-height: 1.6;
    text-align: center;
    justify-content: center;
    overflow-x: hidden;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 80%;
/*     background-image: url('https://images.pexels.com/photos/1000366/pexels-photo-1000366.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'); */
    background-repeat: repeat;
    background-size: auto;
    opacity: 0.2;
    z-index: -1;
}

/* Navbar */
.topnav {
    overflow: hidden;
    background-color: inherit;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topnav a {
    color: #000;
    text-align: center;
    padding: 0.875rem 1rem;
    text-decoration: none;
    font-size: 1.5rem;
}

.topnav a:hover {
    background-color: inherit;
    color: purple;
}

.topnav a.active {
    background-color: #ddd;
    color: white;
}

/* Collage */
.collage {
    position: relative;
    max-width: 50vw;
    margin: 2em auto;
    height: 70vh;
}

/* Image Grid */
.image-container {
    position: relative;
    padding: 2% 5%;
}

.image-container img {
    display: inline-block;
    width: 10vw;
    height: auto;
    object-fit: cover;
    margin: 0.5em;
    padding: 0.5em;
    border: 1px solid #fff;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border-radius: 6px;
}

.image-container .overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    width: 100%;
    padding: 0.625rem;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-container:hover .overlay {
    opacity: 1;
}

/* Gallery */
.gallery {
    --s: 20em;
    /* control the size */
    --g: 3em;
    /* control the gap */
    --f: 0;
    /* control the scale factor */

    display: grid;
    gap: var(--g);
    width: calc(3*var(--s) + 2*var(--g));
    aspect-ratio: 1;
    grid-template-columns: repeat(3, auto);

}

.border {
    border: 0.5rem solid #fff;
    padding: 0.25rem;
    background-color: #fff;
    border-radius: 6px;
}

.gallery>img {
    width: 0;
    height: 0;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    cursor: pointer;
    filter: grayscale(25%);
    transition: .35s linear;
}

.gallery img:hover {
    filter: grayscale(0);
    width: calc(var(--s)*var(--f));
    height: calc(var(--s)*var(--f));

}



/* Gallery */

/* Photo positioning */
.photo {
    position: absolute;
    border-radius: 8px;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.2);
    border: 1px solid #fff;
    padding: 0.25rem;
    background-color: #fff;
    border-radius: 6px;
}

.photo img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: inherit;
}

/* Individual photo positions */
.photo-1 {
    top: 3vh;
    left: 2vw;
    width: 25vw;
    z-index: 1;
}

.photo-2 {
    top: 8vh;
    left: 20vw;
    width: 20vw;
    z-index: 5;
}

.photo-3 {
    top: 5vh;
    left: 45vw;
    width: 15vw;
    z-index: 4;
}

.photo-4 {
    top: 25vh;
    left: 5vw;
    width: 22vw;
    z-index: 2;
}

.photo-5 {
    top: 25vh;
    left: 35vw;
    width: 20vw;
    z-index: 3;
}

.photo-6 {
    top: 30vh;
    left: 28vw;
    width: 10vw;
    z-index: 6;
}

.tilt-left {
    transform: rotate(-5deg);
}

.tilt-right {
    transform: rotate(5deg);
}

.tilt-up {
    transform: rotate(-2deg);
}

.tilt-down {
    transform: rotate(2deg);
}

/* Masonry Row */

.masonry-container {
    display: flex;
    justify-content: center;
    width: 100vw;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    box-sizing: border-box;
}

.masonry-row {
    display: flex;
    flex-direction: row;
    gap: .5em;
    padding: 1em;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    width: 100vw;
    box-sizing: border-box;
    margin: auto;
    align-self: center;
}

.masonry-row img {
    width: 20vw;
    object-fit: cover;
    scroll-snap-align: start;
    flex-shrink: 0;
    transition: transform 0.3s ease;
    border: 0.2em solid #fff;
    padding: 0.2em;
    background-color: #fff;
    border-radius: 6px;
}

.masonry-row img:hover {
    transform: scale(1.05);
}

/* Typography */
p {
    text-align: center;
    margin: 1em 4vw 3em;
    font-size: 1.25rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
    color: #222;
    margin-top: 0.5em;
    margin-bottom: 0.2em;
}

h1 {
    font-family: "Ms Madi", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
    font-weight: 500;
}

h2 {
    font-size: 1.5rem;
    font-weight: 300;
}

h3 {
    font-size: 1.75rem;
    font-weight: 400;
}

h4 {
    font-size: 1.5rem;
    font-weight: 100;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

hr {
    height: 0.2rem;
    width: 25vw;
    background-color: lightgrey;
    border: none;
}

/* Image Styling */
img {
    max-width: 100%;
    height: auto;
    width: auto;
    display: inline-block;
    margin: 0;
}

.framed-img {
    margin: auto;
    border: 0.5rem solid #fff;
    width: 60vw;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.2);
    padding: 2rem;
    background-color: #fff;
    border-radius: 6px;
}

.round-frame {
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    overflow: hidden;
    border: 0.2rem solid #fff;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.2);
    display: inline-block;
    background-color: #fff;
}

.round-frame img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* Containers */
div {
    box-sizing: border-box;
    margin: auto;
    padding: auto;
}

.container {
    max-width: 90vw;
    margin: 1rem auto;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
}

/* Fonts */
.montserrat-uniquifier {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.calligraffitti-regular {
    font-family: "Calligraffitti", cursive;
    font-weight: 400;
    font-style: normal;
}


footer {
    width: 100%;
    height: 10em;
    text-align: center;
    padding: 2em;
    background-color: inherit;
    border-top: darkgray;
    border-top: dashed, darkgray;
    color: black;
    font-family: inherit;
    font-size: small;
}

footer a {
    color: black;
}


/* Media Queries */
@media (max-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    .topnav {
        overflow: hidden;
        background-color: inherit;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .topnav a {
        color: #000;
        text-align: center;
        padding: 0.75rem 1rem;
        text-decoration: none;
        font-size: 1rem;
    }

    .topnav a:hover {
        background-color: inherit;
        color: purple;
    }

    .topnav a.active {
        background-color: #ddd;
        color: white;
    }

    .gallery {
        --s: 10em;
        /* control the size */
        --g: 1em;
        /* control the gap */
        --f: 0;
        /* control the scale factor */

        display: grid;
        gap: var(--g);
        width: calc(3*var(--s) + 2*var(--g));
        aspect-ratio: 1;
        grid-template-columns: repeat(3, 3);

    }


    .image-container {
        position: relative;
        padding: 2% 2%;
        height: auto;
        display: inline;
    }

    .image-container img {
        display: inline-block;
        height: 50vh;
        object-fit: cover;
        margin: 0.5em;
        padding: 0.5em;
        border: 1px solid #fff;
        box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.2);
        background-color: #fff;
        border-radius: 6px;
    }

    .image-container .overlay {
        position: absolute;
        bottom: 0;
        background: rgba(0, 0, 0, 0.6);
        color: white;
        width: 100%;
        padding: 0.625rem;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .image-container:hover .overlay {
        opacity: 1;
    }


    .collage {
        position: relative;
        width: 100vw;
        margin: auto;
        height: 60vh;
    }

    p {
        font-size: 1rem;
        margin-bottom: .5em;
    }

    .image-container img {
        width: 40vw;
    }

    .photo-1,
    .photo-2 {
        position: static;
        width: 80vw;
        margin: 1rem auto;
        display: block;
    }


    .photo-3,
    .photo-4,
    .photo-5,
    .photo-6 {
        display: none;
    }

    .masonry-row {
    display: inline-flex;
    flex-direction: row;
    gap: .25rem;
    padding: .2rem;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    max-width: 80vw;
    box-sizing: border-box;
    margin: auto;
    align-self: center;
}

.masonry-row img {
    height: 22vh;
    object-fit: cover;
    border-radius: 8px;
    scroll-snap-align: start;
    flex-shrink: 0;
    transition: transform 0.3s ease;
    border: 0.2rem solid #fff;
    padding: 0.25rem;
    background-color: #fff;
    border-radius: 6px;
}

.masonry-row img:hover {
    transform: scale(1.05);
}

    .framed-img {
        padding: 1rem;
        font-size: .5em;
    }

    .round-frame {
        width: 20vw;
        height: 20vw;
    }

}

@media (max-width: 680px) {
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    .topnav {
        overflow: hidden;
        background-color: inherit;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .topnav a {
        color: #000;
        text-align: center;
        padding: 0.75rem 1rem;
        text-decoration: none;
        font-size: 1rem;
    }

    .topnav a:hover {
        background-color: inherit;
        color: purple;
    }

    .topnav a.active {
        background-color: #ddd;
        color: white;
    }

    .gallery {
        --s: 6em;
        /* control the size */
        --g: 1em;
        /* control the gap */
        --f: 0;
        /* control the scale factor */

        display: grid;
        gap: var(--g);
        width: calc(3*var(--s) + 2*var(--g));
        aspect-ratio: 1;
        grid-template-columns: repeat(3, auto);

    }

    .image-container {
        position: relative;
        padding: 2% 2%;
        height: auto;
        display: inline;
    }

    .image-container img {
        display: inline-block;
        height: 50vh;
        object-fit: cover;
        margin: 0.5em;
        padding: 0.5em;
        border: 1px solid #fff;
        box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.2);
        background-color: #fff;
        border-radius: 6px;
    }

    .image-container .overlay {
        position: absolute;
        bottom: 0;
        background: rgba(0, 0, 0, 0.6);
        color: white;
        width: 100%;
        padding: 0.625rem;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .image-container:hover .overlay {
        opacity: 1;
    }


    .collage {
        position: relative;
        width: 100vw;
        margin: auto;
        height: 50vh;
    }

    p {
        font-size: 1em;
        margin-bottom: .5em;
    }

    .image-container img {
        width: 40vw;
    }

    .photo-1,
    .photo-2 {
        position: static;
        width: 80vw;
        margin: 1rem auto;
        display: block;
    }


    .photo-3,
    .photo-4,
    .photo-5,
    .photo-6 {
        display: none;
    }
.masonry-container {
    display: flex;
    justify-content: center;
    width: 100vw;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    box-sizing: border-box;
}

  .masonry-row {
    display: inline-flex;
    flex-direction: row;
    gap: .2em;
    padding: .2em;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    max-width: 100vw;
    box-sizing: border-box;
    margin: auto;
    align-self: center;
}

.masonry-row img {
    width: 30vw;
    object-fit: cover;
    scroll-snap-align: start;
    flex-shrink: 0;
    transition: transform 0.3s ease;
    border: 0.2em solid #fff;
    padding: 0.25em;
    background-color: #fff;
    border-radius: 6px;
}

.masonry-row img:hover {
    transform: scale(1.05);
}

    .framed-img {
        width: auto;
        padding: .5em;
        font-size: 0.75em;
    }

    .round-frame {
        width: 20vw;
        height: 20vw;
    }
footer {
margin: auto;
    text-align: center;
}
}













































